<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property resource="bootstrap.yml"/>
    <property resource="application.yml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <springProperty scope="context" name="loggingPath" source="logging.path"/>
    <springProperty scope="context" name="springRabbitmqHost" source="spring.rabbitmq.host"/>
    <springProperty scope="context" name="springRabbitmqPort" source="spring.rabbitmq.port"/>
    <springProperty scope="context" name="springRabbitmqUsername" source="spring.rabbitmq.username"/>
    <springProperty scope="context" name="springRabbitmqPassword" source="spring.rabbitmq.password"/>


    <!-- 项目的appid -->
    <property name="app_name" value="${springAppName}"/>

    <property name="log_path" value="${loggingPath}"/>

    <property name="logging_file" value="${log_path}/${app_name}/${app_name}.log"/>


    <!--rabbitmq配置-->
    <property name="rabbitmq_host" value="${springRabbitmqHost}"/>
    <property name="rabbitmq_port" value="${springRabbitmqPort}"/>
    <property name="rabbitmq_username" value="${springRabbitmqUsername}"/>
    <property name="rabbitmq_password" value="${springRabbitmqPassword}"/>


    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <property name="log_pattern"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging_file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging_file}.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--输出到rabbitmq-->
    <appender name="rabbitmq" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>
                {
                "datetime":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
                "date":"%d{yyyyMMdd}",
                "app_name":"${app_name:-}",
                "level": "%level",
                "trace": "%X{X-B3-TraceId:-}",
                "span": "%X{X-B3-SpanId:-}",
                "parent": "%X{X-B3-ParentSpanId:-}",
                "thread": "%thread",
                "logger": "%logger{35}",
                "message": "%message",
                "exception": "%exception{10}"
                }
            </pattern>
        </layout>
        <addresses>${rabbitmq_host}</addresses>
        <port>${rabbitmq_port}</port>
        <username>${rabbitmq_username}</username>
        <password>${rabbitmq_password}</password>
        <declareExchange>true</declareExchange>
        <exchangeName>root.log</exchangeName>
        <exchangeType>direct</exchangeType>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
        <autoDelete>false</autoDelete>
        <contentType>json</contentType>
        <routingKeyPattern>${app_name}</routingKeyPattern>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>

    <logger name="java.sql" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
        <appender-ref ref="rabbitmq"/>
    </root>
</configuration>